/*
 * Codigo fuente publicado bajo licencia 0BSD.
 * Contenido docente original asociado publicado bajo CC0 1.0 Universal.
 * Veanse ../../../LICENSE-0BSD, ../../../LICENSE-CC0 y ../../../LICENSES.md.
 */
.decision-page .visual {
  min-height: 31rem;
}

body.embed.decision-page .visual {
  height: calc(100vh - 5.1rem);
}

body.embed.decision-page .optional-embed {
  display: none;
}
